anyio @ file:///Users/ec2-user/croot/anyio_1773134415423/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067819649/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854450/work
asttokens @ file:///Users/ec2-user/croot/asttokens_1773135785767/work
async-lru @ file:///Users/ec2-user/croot/async-lru_1783504985526/work
attrs @ file:///Users/ec2-user/croot/attrs_1774959629404/work
babel @ file:///Users/ec2-user/croot/babel_1786024086218/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1781173596089/work
bleach @ file:///Users/ec2-user/croot/bleach_1782390512965/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961160997/work
certifi @ file:///Users/ec2-user/croot/certifi_1785412579097/work/certifi
cffi @ file:///Users/ec2-user/croot/cffi_1784189435259/work
charset-normalizer @ file:///Users/ec2-user/croot/charset-normalizer_1782917471362/work
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153597/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643921207/work
cryptography==50.0.0
cycler @ file:///Users/ec2-user/croot/cycler_1766067933469/work
db-dtypes==1.7.1
debugpy @ file:///Users/ec2-user/croot/debugpy_1783354542039/work
decorator @ file:///Users/ec2-user/croot/decorator_1781691546028/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///opt/miniconda3/conda-bld/executing_1757061274032/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718700638/work
fonttools @ file:///Users/ec2-user/croot/fonttools_1781075856949/work
google-api-core==2.34.0
google-auth==2.56.3
google-auth-oauthlib==1.4.0
google-cloud-bigquery==3.43.0
google-cloud-core==2.6.1
google-crc32c==1.8.0
google-resumable-media==2.10.1
googleapis-common-protos==1.75.1
grpcio==1.83.0
grpcio-status==1.83.0
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258730/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447188226/work
idna @ file:///Users/ec2-user/croot/idna_1780561399819/work
ipykernel @ file:///Users/ec2-user/croot/ipykernel_1785763703699/work
ipython @ file:///Users/ec2-user/croot/ipython_1784576697770/work
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500032311/work
jedi @ file:///Users/ec2-user/croot/jedi_1778681758760/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718542963/work
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955685781/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788418429/work
jupyter @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4eoc_4jij1/croot/jupyter_1737645814862/work
jupyter-console @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/jupyter_console_1707340206137/work
jupyter-events @ file:///Users/ec2-user/croot/jupyter_events_1778067258576/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773372695/work
jupyter_client @ file:///Users/ec2-user/croot/jupyter_client_1781183279366/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588284370/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1782400773610/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289302597/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1782727247312/work
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629823893/work
jupyterlab_widgets @ file:///home/task_Juh6Nl9AS1Ob4_0/croot/jupyterlab_widgets_1784891225347/work/python/jupyterlab_widgets
kiwisolver @ file:///Users/ec2-user/croot/kiwisolver_1786023794409/work
MarkupSafe @ file:///Users/ec2-user/croot/markupsafe_1782390866078/work
matplotlib==3.11.0
matplotlib-inline @ file:///Users/ec2-user/croot/matplotlib-inline_1784795153087/work
mistune @ file:///Users/ec2-user/croot/mistune_1783704013814/work
nbclient @ file:///Users/ec2-user/croot/nbclient_1782484508443/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1782391041984/work
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2cv_qoc1gw/croot/nbformat_1728049423516/work
nest-asyncio2 @ file:///Users/ec2-user/croot/nest-asyncio2_1785322365244/work
notebook @ file:///Users/ec2-user/croot/notebook_1783948679207/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629837510/work
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1783953933249/work/dist/numpy-2.5.1-cp312-cp312-macosx_12_0_arm64.whl#sha256=924bf205ee808aef27eae50384d5eb6494fb3c32633b28499bffa7eb04274c08
oauthlib==3.3.1
packaging==26.1
pandas @ file:///Users/ec2-user/croot/pandas_1780071656406/work
pandas-gbq==0.35.1
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977615516/work
parso @ file:///Users/ec2-user/croot/parso_1778674010885/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535936277/work
pillow @ file:///Users/ec2-user/croot/pillow_1783978870896/work
platformdirs @ file:///Users/ec2-user/croot/platformdirs_1785312140421/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733395495/work
prompt_toolkit @ file:///Users/ec2-user/croot/prompt-toolkit-split_1785325119030/work
proto-plus==1.28.3
protobuf==7.35.1
psutil @ file:///Users/ec2-user/croot/psutil_1784875182473/work
psycopg2-binary==2.9.12
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067068604/work
pyarrow==25.0.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959667771/work
pydata-google-auth==1.9.1
Pygments @ file:///Users/ec2-user/croot/pygments_1775127020713/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973786901/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753011230/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-dotenv==1.2.2
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590078361/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492791/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616615/work
qtconsole @ file:///Users/ec2-user/croot/qtconsole_1776670423495/work
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017923/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885752/work
requests @ file:///Users/ec2-user/croot/requests_1780348965574/work
requests-oauthlib==2.0.0
rfc3339-validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3339-validator_1699249772675/work
rfc3986-validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3986-validator_1699249792387/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478883/work
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170599114/work
setuptools==83.0.0
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
soupsieve @ file:///Users/ec2-user/croot/soupsieve_1783696923567/work
SQLAlchemy==2.0.51
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067043377/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591698018/work
tinycss2 @ file:///opt/miniconda3/conda-bld/tinycss2_1764948936631/work
tornado @ file:///Users/ec2-user/croot/tornado_1782314826616/work
traitlets @ file:///Users/ec2-user/croot/traitlets_1778743192009/work
typing_extensions @ file:///Users/ec2-user/croot/typing_extensions_1784101000785/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1778536192019/work
wcwidth @ file:///Users/ec2-user/croot/wcwidth_1783583483561/work
webencodings @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/webencodings_1699243630039/work
websocket-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d37u7gqts8/croot/websocket-client_1715878310260/work
wheel==0.47.0
widgetsnbextension @ file:///opt/miniconda3/conda-bld/widgetsnbextension_1761556741808/work
